page-home {

    .nav-brand {
        width: 125px;
    }

    .dinder-logo {
        width: 50%;
        margin: 60px auto 60px auto;
        display: block;
    }

    .scroll-content {
        background-color: #e0e0e0;
    }

    .submit-btn {
        margin: 30px auto;
    }
}
